.login-form {
  /* CSS cho form */
}

.login-form .bg-white {
  /* CSS cho phần nền của form */
  animation: fadeIn 1s ease-out; /* Hiệu ứng fade-in */
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.bg-cover {
  /* Định dạng cho background image */
  background-size: cover;
  background-position: center;
}
